html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--bodyFont);
  background-color: hsl(0, 100%, 98%);
}

.color-dr {
  color: var(--DesaturatedRed);
}
.color-dgr {
  color: var(--DarkGrayishRed);
}
.hide {
  display: none;
}

.attribution {
  width: 100%;
  position: relative;
  font-size: 0.8125rem; /*13px*/
  text-align: center;
  color: black;
}
.attribution a {
  color: rgb(211, 65, 65);
}
