.container {
  display: flex;
  flex-flow: column;
}
.headerAndContent {
  display: flex;
  flex-flow: column;
}
header {
  height: 5.3125rem; /*85px*/
  padding: 2rem; /*32px*/
  background: white;
}
header img {
  height: 100%;
}
.hero-mobile {
  height: clamp(15.625rem, 50vw, 25rem); /*clamp(250px, 50vw, 400px)*/
  background-image: url("../../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-desktop {
  display: none;
}
.content {
  background: var(--linear1);
  padding: 2rem; /*32px*/
  text-align: center;
}

.content h1 {
  margin-bottom: 1.5rem; /*24px*/
  text-transform: uppercase;
  font-size: 2.5rem; /*40px*/
  font-weight: 400;
  letter-spacing: 0.875rem; /*14px*/
}
.content h1 span {
  font-weight: 300;
}

.content p {
  margin-bottom: 2.25rem; /*36px*/
  font-size: 0.875rem; /*14px*/
  line-height: 1.5;
}

.content__form input {
  width: 100%;
  height: 2.875rem; /*46px*/
  margin-bottom: 0.5rem; /*8px*/
  padding-left: 1.5rem; /*24px*/
  border-radius: 5rem;
  background: none;
  border: 1px solid var(--DesaturatedRed);
  font-family: "Josefin Sans", sans-serif;
}
.content__form input::placeholder {
  color: var(--DesaturatedRed);
}
.content__form input:focus-visible {
  outline: none;
  border: 2px solid var(--SoftRed);
}

.content__form label,
.content__form--field-error,
.content__form button {
  position: relative;
}
.content__form label {
  right: calc(20%);
  font-size: 0.8125rem; /*13px*/
  color: var(--SoftRed);
}
.content__form--field-error {
  width: fit-content;
  margin-left: calc(70%);
  bottom: 3.75rem; /*60px*/
}
.content__form button,
.content__form button::after {
  width: 4rem; /*64px*/
  height: 2.875rem; /*46px*/
  border: none;
  border-radius: 5rem;
}
.content__form button {
  margin-left: calc(80%);
  bottom: 6.125rem; /*98px*/

  background: var(--linear2);
  box-shadow: 5px 10px 15px hsla(0, 40%, 80%, 0.85);
  cursor: pointer;
}

.content__form button::after {
  content: "";
  position: absolute;
  right: calc(0.1%);
  bottom: calc(0.5%);
  background-color: white;
  opacity: 0;
}

.content__form button:hover::after {
  animation: fadeVisibility 0.5s;
  animation-fill-mode: forwards;
}
.content__form button:focus-visible {
  outline: none;
}

@media screen and (min-width: 425px) {
  .container {
    background: var(--linear1);
  }
  .content {
    max-width: 26.5625rem; /*425px*/
    margin: 0 auto;
  }

  .content__form button,
  .content__form button::after {
    width: 5rem; /*80px*/
    margin-left: calc(78%);
  }
}
